html{
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
img{
    pointer-events: none;
}
p{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
	background: #2b2e34; /* #d4d4d4; */
	box-shadow: 0 0 2px rgba(0,0,0,0.2) inset;
	/* display: none; */
}
::-webkit-scrollbar-thumb{
	background: #c1eb00; /* #333333; */
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	border: 2px solid #2b2e34; /* #fff */ 
}
::-webkit-scrollbar-thumb:hover{
	background: #9abd01;  /* #1c1c1c; */
}

.main{
    width: 100%;
    height: 300vh;
    background-image: url("bgc.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 15% 85%;
}
header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 0;
    grid-gap: 35px;
}
.tg, .vk{
    width: 75px;
}
.youtube{
    width: 60px;
}
.bottom_link {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    padding: 0 0px 23%;
}

.links_bottom{
    background: #c1eb00;
    padding: 20px 130px;
    font-weight: bold;
    color: #393939;
    font-size: 28px;
    text-decoration: none;
    border-radius: 20px;
    transition: .4s all;
}
.links_bottom:hover{
    background: #93b301;
    color: #232323;
    box-shadow:0 0 15px #393939;
}
.lb{
    position: relative;
}
.lb::after{
    content: url("img/tg-left.png");
    position: absolute;
    top: -300%;
    left: 5%;
}
.rb{
    position: relative;
}
.rb::after{
    content: url("img/vk-right.png");
    position: absolute;
    top: -450%;
    left: 30%;
}

.about_del{
    background: #2B2E34;
    width: 100%;
    color: #DCDCDC;
}
.content{
    max-width: 35%;
    padding: 50px 0 80px;
    margin: auto;
}
.first_header_del{
    font-size: 38px;
}
.second_header{
    margin-top: 40px;
    font-size: 32px;
}
.first_paragraph{
    font-size: 19px;
    line-height: 1.5em;
    margin-top: 20px;
    color: #b9b9b9;
}
.hrefs{
    color: #b9b9b9;
}
.about_article{
    margin-top: 40px;
}
.out_li{
    margin-bottom: 20px;
}
.inner_ol { counter-reset: item }
.inner_li { display: list-item; margin-bottom: 20px; }
.inner_li:before { content: counters(item, ".") " "; counter-increment: item }

/* 1600x900 */
@media screen and (max-width: 1600px){

    .main {
        height: 230vh;
    }

    .bottom_link {
        padding: 0 0px 7%;
    }
    
    .lb::after {
        top: -300%;
        left: -15%;
    }

    .rb::after {
        top: -450%;
        left: 55%;
    }

    .content {
        max-width: 40%;
    }
}

/* 1440x900 */
@media screen and (max-width: 1440px){
    .bottom_link {
        padding: 0 0px 20%;
    }

    .lb::after {
        top: -300%;
    }
    
    .rb::after {
        top: -450%;
    }
    
    .content {
        max-width: 50%;
    }

    .lb::after {
        top: -425%;
        left: -15%;
    }

    .rb::after {
        top: -720%;
    }

}

/* 1366x768 */
@media screen and (max-width: 1366px){

    header{
        padding: 30px 0;
    }
    
    .youtube {
        width: 50px;
        margin-top: 5px;
    }

    .bottom_link {
        padding: 0 0px 12%;
    }

    .lb::after {
        top: -300%;
    }

    .rb::after {
        top: -450%;
    }
}

/* 1280x800 */
@media screen and (max-width: 1280px){
    .bottom_link {
        padding: 0px 0px 18%;
    }
}

/* 1024x768 */
@media screen and (max-width: 1024px){

    .main {
        height: 195vh;
    }

    .tg, .vk {
        width: 60px;
    }

    .lb::after{
        left: -3%;
        top: -250%;
        content: url("img/tg-left middle.png");
    }

    .rb::after{
        left: 50%;
        top: -380%;
        content: url("img/vk-right middle.png");
    }

    .links_bottom {
        padding: 12px 100px;
        font-size: 22px;
    }

    .content {
        max-width: 60%;
    }
}

@media screen and (max-width: 835px){

    .main {
        height: 100vh;
    }

    header {
        padding: 20px 0;
    }

    .tg, .vk {
        width: 50px;
    }

    .youtube {
        width: 45px;
    }

    .links_bottom {
        padding: 10px 80px;
    }

    .bottom_link {
        padding: 0px 0px 10%;
    }

    .content {
        max-width: 70%;
    }
}

@media screen and (max-width: 450px){

    .main{
        height: 69vh;
    }

    header {
        padding: 10px 0;
    }

    .tg, .vk {
        width: 35px;
    }

    .youtube {
        width: 29px;
    }

    .links_bottom {
        padding: 5px 45px;
        font-size: 14px;
    }

    .content {
        max-width: 80%;
    }    

    .lb::after{
        top: -280%;
        left: -20%;
        content: url("img/tg-left mini.png");
    }

    .rb::after{
        top: -410%;
        left: 70%;
        content: url("img/vk-right mini.png");
    }

    .content {
        max-width: 85%;
    }

    .first_header_del {
        font-size: 32px;
    }

    .first_paragraph {
        font-size: 17px;
    }    

    .second_header {
        font-size: 24px;
    }

    .content h3{
        font-size: 16px!important;;
    }
}

@media screen and (max-width: 400px){

    .main{
        height: 60vh;
    }

    .links_bottom {
        padding: 4px 40px;
        font-size: 12px;
    }

    .lb::after {
        top: -325%;
        left: -15%;
    }

    .rb::after {
        top: -470%;
        left: 55%;
    }

    
}
